.social {
  position: relative;
  width: 1200px;
  height: 300px;
  left: 50%;
  margin-left: -600px;
}

.social .twitter {
  width: 300px;
  height: inherit;
  background-image: url("../images/twitter.png");
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.social .twitter:hover {
  background-image: url("../images/twitter_hover.png");
  background-size: cover;
}

.social .facebook {
  width: 300px;
  height: inherit;
  margin-top: -300px;
  margin-left: 300px;
  background-image: url("../images/facebook.png");
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.social .facebook:hover {
  background-image: url("../images/twitter_hover.png");
  background-size: cover;
}

.social .spotify {
  width: 250px;
  height: 250px;
  margin-top: -275px;
  margin-left: 650px;
  background-image: url("../images/spotify.png");
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.social .spotify:hover {
  background-image: url("../images/twitter_hover.png");
  background-size: cover;
}

.social .500px {
  width: 300px;
  height: inherit;
  margin-top: -300px;
  margin-left: 900px;
  background-image: url("../images/500px.png");
  background-size: cover;
  transition: all 0.5s ease-in-out;
}

.social .500px:hover {
  background-image: url("../images/twitter_hover.png");
  background-size: cover;
}
